.container {
  margin: 0 auto;
  max-width: 1240px;
}

.todo__title {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: 900;
}

.main {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.main__input {
  font-size: 14px;
  border: 2px solid grey;
  margin-right: 10px;
  width: 300px;
  height: 25px;
  outline: none;
}

.main__button {
  font-weight: normal;
  padding: 0 5px;
  border: 2px solid grey;
  border-radius: 0%;
  cursor: pointer;
}

.tasks__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;

}

.tasks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.tasks__title {
  display: block;
  font-size: 20px;
  text-decoration: underline;
  margin-bottom: 20px;
}

.tasks__completed {
  text-decoration: line-through;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  border: 4px green solid;
  min-height: 40px;
  width: 620px;
  padding: 10px;
  margin: 5px;
}

.tasks__uncompleted {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  border: 4px gold solid;
  min-height: 40px;
  width: 600px;
  padding: 10px;
  margin: 5px;
}

.tasks__images {
  display: flex;
  width: 80px;
  height: 30px;
}

.tasks__edit-svg {
  width: 25px;
  height: 25px;
  padding: 5px;
  cursor: pointer;
}

.tasks__close-svg {
  width: 25px;
  height: 25px;
  padding: 5px;
  cursor: pointer;
}

.tasks__svg {
  width: 25px;
  height: 25px;
  padding: 5px;
  cursor: pointer;
  text-decoration: line-through;
}


.tasks__info {
  display: flex;
}

.tasks__text {
  word-break: break-all;
  display: inline-block;
  max-width: 480px;
}

@media only screen and (max-width: 350px) {
  .todo__title {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .main__input {
    width: 180px;
  }
  .main__button {
    font-size: 10px;
    width: 70px;
  }
  .tasks__title {
    text-align: center;
  }
  .tasks__uncompleted {
    display: flex;
    justify-content: space-between;
    border: 4px gold solid;
    min-height: 40px;
    width: 250px;
    padding: 10px;
    margin: 5px;
  }
  .tasks__completed {
    display: flex;
    justify-content: space-between;
    border: 4px green solid;
    min-height: 40px;
    width: 260px;
    padding: 10px;
    margin: 5px;
  }
  .tasks__images {
    width: 70px;
  }
}

@media only screen and (min-width: 350px) {
  .todo__title {
    font-size: 26px;
    margin-bottom: 8px;
  }
  .main__input {
    width: 200px;
  }
  .main__button {
    font-size: 10px;
    width: 70px;
  }
  .tasks__title {
    text-align: center;
  }
  .tasks__uncompleted {
    display: flex;
    justify-content: space-between;
    border: 4px gold solid;
    min-height: 40px;
    width: 280px;
    padding: 10px;
    margin: 5px;
  }
  .tasks__completed {
    display: flex;
    justify-content: space-between;
    border: 4px green solid;
    min-height: 40px;
    width: 300px;
    padding: 10px;
    margin: 5px;
  }
  .tasks__images {
    width: 70px;
  }
}

@media only screen and (min-width: 425px) {
  .todo__title {
    font-size: 26px;
    margin-bottom: 8px;
  }
  .main__input {
    width: 240px;
  }
  .main__button {
    font-size: 12px;
    width: 80px;
  }
  .tasks__title {
    text-align: center;
  }
  .tasks__uncompleted {
    display: flex;
    justify-content: space-between;
    border: 4px gold solid;
    min-height: 40px;
    width: 340px;
    padding: 10px;
    margin: 5px;
  }
  .tasks__completed {
    display: flex;
    justify-content: space-between;
    border: 4px green solid;
    min-height: 40px;
    width: 360px;
    padding: 10px;
    margin: 5px;
  }
  .tasks__images {
    width: 70px;
  }
}

@media only screen and (min-width: 480px) {
  .todo__title {
    font-size: 26px;
    margin-bottom: 8px;
  }
  .main__input {
    width: 280px;
  }
  .main__button {
    font-size: 12px;
    width: 80px;
  }
  .tasks__title {
    text-align: center;
  }
  .tasks__uncompleted {
    display: flex;
    justify-content: space-between;
    border: 4px gold solid;
    min-height: 40px;
    width: 420px;
    padding: 10px;
    margin: 5px;
  }
  .tasks__completed {
    display: flex;
    justify-content: space-between;
    border: 4px green solid;
    min-height: 40px;
    width: 440px;
    padding: 10px;
    margin: 5px;
  }
  .tasks__images {
    width: 70px;
  }
}

@media only screen and (min-width: 768px) {
  .todo__title {
    font-size: 26px;
    margin-bottom: 8px;
  }
  .main__input {
    width: 280px;
  }
  .main__button {
    font-size: 12px;
    width: 80px;
  }
  .tasks__title {
    text-align: center;
  }
  .tasks__uncompleted {
    display: flex;
    justify-content: space-between;
    border: 4px gold solid;
    min-height: 40px;
    width: 500px;
    padding: 10px;
    margin: 5px;
  }
  .tasks__completed {
    display: flex;
    justify-content: space-between;
    border: 4px green solid;
    min-height: 40px;
    width: 520px;
    padding: 10px;
    margin: 5px;
  }
  .tasks__images {
    width: 70px;
  }
}

@media only screen and (min-width: 992px) {
  .todo__title {
    font-size: 28px;
    margin-bottom: 8px;
  }
  .main__input {
    width: 300px;
  }
  .main__button {
    font-size: 12px;
    width: 80px;
  }
  .tasks__title {
    text-align: center;
    font-size: 24px;
  }
  .tasks__uncompleted {
    display: flex;
    justify-content: space-between;
    border: 4px gold solid;
    min-height: 40px;
    width: 600px;
    padding: 10px;
    margin: 5px;
  }
  .tasks__completed {
    display: flex;
    justify-content: space-between;
    border: 4px green solid;
    min-height: 40px;
    width: 620px;
    padding: 10px;
    margin: 5px;
  }
  .tasks__images {
    width: 76px;
  }
}