.todo {
  font-family: "JetBrains Mono";
}

.container {
  margin: 0 auto;
  max-width: 1240px;
}

.todo__title {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.main {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.main__input {
  font-size: 14px;
  border: 2px solid grey;
  margin-right: 10px;
  width: 300px;
  height: 25px;
  outline: none;
}

.main__button {
  font-weight: normal;
  padding: 0 5px;
  border: 2px solid grey;
  border-radius: 0%;
  cursor: pointer;
}

.tasks__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;

}

.tasks__title {
  margin-left: 330px;
  display: block;
  font-size: 20px;
  text-decoration: underline;
  margin-bottom: 20px;
}

.task {
  display: flex;
  justify-content: space-between;
  border: 3px forestgreen solid;
  min-height: 40px;
  width: 600px;
  max-width: 600px;
  padding: 10px;
  margin: 5px;
}

.tasks__images {
  display: flex;
}

.task__edit-svg {
  width: 25px;
  height: 25px;
  float: right;
  padding: 5px;
  cursor: pointer;
}

.task__close-svg {
  width: 25px;
  height: 25px;
  float: right;
  padding: 5px;
  cursor: pointer;
}

.task__confirm-svg {
  width: 25px;
  height: 25px;
  float: right;
  padding: 5px;
  cursor: pointer;
}
